<div class="container">
    <div class="row vh-100 okvir">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <div >
                <p class="naslov">SOFASURFING </p>
                <p class="naslov">Sign in!</p>
                <p class="DR">MADE for STUDENTS!</p>
            </div>
        </div>

        <div  class="col-8 d-flex flex-column bd-highlight okvirLogin" *ngIf="IsLogin; else Registration" >
            
            <div class="bd-highlight ivice">
                <div class="d-flex justify-content-center naslovLogina">
                    <p class="naslovLogina">Sign In</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="65" height="86" fill="deepskyblue" class="bi bi-box-arrow-in-right" viewBox="0 0 16 22">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>  
                </div>
                  
            </div>
            <div class="flex-grow-1"> 
                <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">
                    <div class="form-group">
                        <label for="nm">Email (username):</label>
                        <input input="text" name="name" id="nm" class="form-control" formControlName="email" />
                    </div>
                <p class="error-message" *ngIf="email?.errors?.['required'] else ProvjeraDva">Username is required!</p>
                <ng-template #ProvjeraDva>
                    <p class="error-message" *ngIf="email?.errors?.['email']">Email incorrect!</p>
                </ng-template>
                <div class="form-group">
                    <label for="nm">Password:</label>
                    <input  type="password" name="name" id="nm" class="form-control" formControlName="password"/>
                </div>
                <p class="error-message" *ngIf="password?.errors?.['required']">Password is required!</p>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
                        <p class="linkDalje" (click)="showRegistration()">Registration</p>
                    </div>
                </form>
            </div>
            
        </div>

        <ng-template #Registration>

            <div  class="col-8 d-flex flex-column bd-highlight okvirLogin">
            
                <div class="bd-highlight ivice">
                    <div class="d-flex justify-content-center naslovLogina">
                        <p class="naslovLogina">Registration</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="86" fill="darkblue" class="bi bi-person-add" viewBox="0 0 16 22">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                            <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
                          </svg>
                    </div>
                      
                </div>
                <div class="flex-grow-1"> 
                    <form [formGroup]="registrationForm" (ngSubmit)="submitRegForm(registrationForm.value)">
                        <div class="form-group reg-group">
                            <label for="nm">Email (username):</label>
                            <input input="text" name="name" id="nm" class="form-control"  formControlName="email"/>
                        </div> 
                        <p class="error-message" *ngIf="Email?.errors?.['email']">Email incorrect!</p>
                        <div class="d-flex justify-content-around">
                            <div class="form-group reg-group">
                                <label for="sr">Surname:</label>
                                <input input="text" name="surname" id="sr" class="form-control"formControlName="surname"/>
                            </div>
                            <div class="form-group reg-group">
                                <label for="fn">Forename:</label>
                                <input input="text" name="forename" id="fn" class="form-control" formControlName="forename"/>
                            </div>

                        </div>
                        <div class="form-group reg-group">
                            <label for="phoneInput" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="phoneInput" placeholder="+382 68 *** ***" formControlName="phone">
                        </div>
                        <div class="form-group reg-group">
                            <label for="pw">Password:</label>
                            <input  type="password" name="password" id="pw" class="form-control" formControlName="password"/>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Submit</button>
                            <p class="linkDalje" (click)="showLogin()">Sign in</p>
                        </div>
                    </form>
                </div>
                
            </div>
            
        </ng-template>
    </div>
</div>