<div class="alert alert-primary p-3 mt-5" role="alert">

    <h1 class="h1 text-primary fw-bold mt-5">Sofasurfing for all of us!</h1>
    <div >
        <h5 class="fw-bold mt-3">Sofasurfing.com is an innovative platform that caters to young individuals,
             primarily students from around the world and activists. It provides them with the opportunity to
              create accounts and connect with like-minded people, fostering unique experiences related to their
               universities and organizations. One of the main highlights of this platform is the provision of free
                accommodation, 
            which can be found in the various posts available within the application.</h5>
        <h6>
            By joining Sofasurfing.com, users can explore a diverse range of events, gatherings,
            and activities that are tailored to their specific interests and affiliations.
            Whether it's attending a seminar, joining a study group, or participating in a local community project,
            this platform enables users to connect with individuals who share similar passions and goals.
            With the convenience of free accommodation options offered by fellow users, Sofasurfing.com not only promotes
             cultural exchange but also facilitates the exploration of new cities and regions without the burden of high accommodation costs.
              Users can browse through the available posts, read reviews and descriptions, and connect with hosts who are willing to offer their homes for a temporary stay.
        </h6>
        <p>
            Whether you're a student looking for a place to crash during a conference or an activist seeking connections within your field, 
            Sofasurfing.com provides a unique platform to create meaningful experiences, forge new friendships, and broaden your horizons. 
            Join today and embark on a journey of discovery and camaraderie like never before.
        </p>
    </div>
    
</div>
