<nav class="navbar navbar-expand navbar-dark bg-dark">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="40" fill="brown" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
      </svg>
    <div class="navbar-collapse justify-content-end">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a data-toggle="tooltip" data-placement="bottom" title="See posts" class="nav-link" routerLink="/articles" [hidden]="!checkAccount()">Home</a></li>
          <li class="nav-item"><a data-toggle="tooltip" data-placement="bottom" title="Your info" class="nav-link" routerLink="/">Profile</a></li>
          <li class="nav-item"><a data-toggle="tooltip" data-placement="bottom" title="See" class="nav-link" routerLink="aboutUs">About us</a></li>
          <li class="nav-item"><a data-toggle="tooltip" data-placement="bottom" title="Join!" class="nav-link" [routerLink]="['/login']" *ngIf="!checkAccount()">Sign in</a></li>
          <button type="button" class="btn btn-outline-danger btn-sm mt-2 crvenoDugme" (click)="signOut()" *ngIf="checkAccount()">Sign out</button>
        </ul>
      </div>
      <div class="navbar-collapse justify-content-end">
        
        <div class="d-flex row" style="position: relative;">
          <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm">
            <input class="form-control mr-sm-5" type="search" placeholder="Search" aria-label="Pretraga"  formControlName="keywords">
          </form> 
          <div style="position: absolute; margin-top: 35px;">
            <div class="opadajucaLista" *ngIf="keywords?.value != '' ">
              <p *ngFor="let element of dropDownItems; ; let i = index" style="cursor: pointer; padding: 2px;" (click)="sendInfo(element.title, i)">
                #{{element.title}}: 
                {{element.searchField}}
              </p>

            </div>

          </div> 

        </div>

        <button class="btn btn-outline-success ml-5 my-2 my-sm-0" style="margin-inline: 4px;" type="submit" (click)="submitSearchForm(searchForm.value)">Submit</button>
      </div>
  </nav>